* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.navbar {
    background: linear-gradient(90deg, orange, red);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.navbar h1 {
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    opacity: 0.7;
}

.section {
    padding: 2rem;
    text-align: center;
    transition: all 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.projetos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projeto {
    background: #ffffff
}